div.main-base-container(layout='row')
	md-sidenav.main-sidenav.md-sidenav-left.main-sidenav-bar.sidenav-bar-fix.sidenav-bar-color(md-component-id='left', md-is-locked-open='true', md-whiteframe='4')
		md-content(layout-padding='', layout='column')
			.main-sidenav-logo-container(layout='column', layout-align='center center')
				.main-sidenav-logo
					img(src='assets/img/logo.png' alt='Actonate')
			.main-sidenav-menu
				ss-sidenav(menu='menu')
	div.main-container(flex='grow', layout='column')
		md-toolbar.main-toolbar-container.md-primary.top-navigation
			.md-toolbar-tools
				md-button.md-icon-button(aria-label='Menu', ng-disabled='$mdMedia(\'gt-md\')' ng-click='ViewModel.toggleSidenav()')
					i.material-icons
						|	menu
				h2(flex='', md-truncate='')
					|	{{ $root.pageTitle }}
				md-menu(md-position-mode='target-left target')
					md-button.md-icon-button(aria-label='Open demo menu', ng-click='$mdMenu.open($event)')
						md-icon(md-menu-origin='')
							i.material-icons
								|	more_vert
					md-menu-content(width='4')
						md-menu-item
							md-button(ng-click='ViewModel.logoutUser()')
								|	Logout
		div.main-content-container(layout='column', ui-view='')
