//- .main-dashboard(layout='column')
//-   .dashboard-1.card-1
//-     .dashboard-header(layout='row', layout-align='space-between center', flex='none')
//-       div(layout='row', layout-align='center center')
//-          h3 Overview
//-         md-button.md-primary(ng-click='ViewModel.Download()', href='javascript.void(0)') 
//-           md-select.md-no-underline.dashboard-select(ng-model='search', aria-label='graph-search-list')
//-             md-option(value='Today', ng-selected='true') Today
//-             md-option(value='Yesterday') Yesterday
//-             md-option(value='thisweek')  This Week
//-             md-option(value='previousweek')  Previous Week
//-             md-option(value='thismonth')  This Month
//-             md-option(value='previousmonth')  Previous Month
//-     .dashboard-graph(layout='row', layout-align='start start', flex='100')
//-       .set-chart-div(layout='column', layout-align='start start', , flex='50')
//-         canvas#doughnut.chart.chart-doughnut.set-chart(chart-data='data', chart-labels='labels')
//-       