.main-content(layout='column')
	.main-content-project-table.card-1(flex='1')
		md-table-container
			table.table-body(md-table='', md-progress='ViewModel.loadPromise')
				thead(md-head='', md-order='ViewModel.query.order', md-on-reorder='ViewModel.load')
					tr(md-row='')
						th.table-body()
							span #
						th() Name
						th() Project Name
						th() Project Manager
						th() Due Date
						th() Status
						th() Actions
				tbody(md-body='', style='text-align:center;')
					tr(md-row='', md-select='task', md-select-id='id', md-auto-select='', ng-repeat='task in ViewModel.MyTasks')
						td() {{$index + 1}}
						td() {{task.name}}
						td() {{task.projectName}}
						td() {{task.manager}}
						td() 
							md-datepicker(ng-model="task.end_date" , md-placeholder="Due Date", disabled)
						td() {{task.status}}
						td()
							md-menu(md-position-mode='target-right target')
								md-button.md-icon-button(aria-label='Actions', ng-click='$mdMenu.open($event)')
									md-icon(md-menu-origin)
										i.material-icons
											| more_vert
								md-menu-content
									md-menu-item()
										md-button(ng-click='ViewModel.EditMyTask(task.id)')
											|Edit