.users-page(layout='column',  layout-align='center center')
  md-dialog.main-dialog.main-user.dialog(layout='column')
    .main-dialog-header(layout='row',layout-align='start center')
      h2.main-dialog-title
        | New User
    .main-dialog-content(flex='none', layout='column')
      form(ng-cloak='', class='userForm', layout='column', md-progress='ViewModel.loadPromise', name='userForm')
        div(layout='column', layout-align='start start')
          div(flex='50', layout='row')
            md-input-container
              label
               | Full Name
              input.form-control(type='text', name='name', ng-model='user.name', ng-pattern='/^[a-zA-Z ]*$/', required)
              .md-warning(ng-show='userForm.name.$touched')
                span.error(ng-show='userForm.name.$error.required') name is required.
                span.error(ng-show='userForm.name.$error.pattern') name can only be alphabets.
            md-input-container
              label
               | Email
              input.form-control(type='email', name='email', ng-model='user.email', required)
              .md-warning(ng-show='userForm.$submitted || userForm.email.$touched')
                span.error(ng-show='userForm.email.$error.email') Please enter email in proper format.
                span.error(ng-show='userForm.email.$error.required') Email is required.
          div.setting-sidenav(layout='row', layout-align='stretch stretch', flex='100')
            md-input-container.setting-sidenav
              label
               | Mobile
              input.form-control(type='text', name='mobile', ng-model='user.mobile', ng-pattern="/^[0-9]{10}$/",required)
              .md-warning(ng-show='userForm.$submitted || userForm.mobile.$touched')
                span.error(ng-show='userForm.mobile.$error.pattern') Mobile number can be of 10 digits only.
        div(flex='none', layout='column', layout-align='start start')
           h4 Role & Permission
           md-select.setting-sidenav.form-control(ng-change='ViewModel.RolePermission(user.role)' name='role',placeholder='Pick', ng-model='user.role', required)
              md-option(value='-1', ng-selected='true') Select Role
              md-option(value='SuperAdmin' ng-show='ViewModel.ShowAdminOption==true') Super Admin
              md-option(value='Admin' ng-show='ViewModel.ShowAdminOption==true') Admin
              md-option(value='ProjectManager') Project Manager
              md-option(value='TeamLeader') Team Leader
              md-option(value='User') User

          div(class='user-role-permission')
            div(flex='none', layout-align='start start', ng-show="ViewModel.roleSelected == true")
              h5 Dashboard Permission
              .grid-row.connector()
                .grid-col-3(ng-repeat='permission in ViewModel.permission.dashboard')
                  .grid-widget
                    md-checkbox(aria-label='dashboard', id="{{$index +1}}" value="{{permission.code}}", ng-checked="selectionPermission.indexOf(permission.code) > -1",ng-click="permissionSelection(permission.code)" ng-disabled ='ViewModel.rolesAdmin == true')
                      {{permission.name}}
            div(flex='none', layout-align='start start', ng-show="ViewModel.roleSelected == true")
              h5 Users Permission
              .grid-row.connector()
                .grid-col-3(ng-repeat='permission in ViewModel.permission.User')
                  .grid-widget
                    md-checkbox(aria-label='User', id="{{$index +1}}" value="{{permission.code}}", ng-checked="selectionPermission.indexOf(permission.code) > -1",ng-click="permissionSelection(permission.code)" ng-disabled ='ViewModel.rolesAdmin == true')
                      {{permission.name}}
    .dialog-footer(layout='row', layout-align='space-between center')
          .main-dialog-footer-actions
            md-button.dialog-footer-close(ng-click='ViewModel.closeDialog()')
              | Close
          .main-dialog-footer-actions
            md-button.dialog-footer-close(ng-disabled="userForm.$invalid", type='button', ng-click='ViewModel.createUser(user)')
              | Submit

