.new_amenitie {
  margin: 10px 0;
}
.main-amenitie-dialog {
    width: 350px;
    min-height: 285px;
}
.sidenav-amenities {
  border-right:1px solid;
  border-right-color: lightgrey;
}
.table-title {
  padding-right: 20px;
}
.amenity_form {
  padding-left: 25px;
}
