// Main Booking Page css Starts
.booking-header {
  padding: 10px 20px;
  .booking-search {
    border: 0;
    font-size: 16px;
    width: 100%;
  }
  .booking-input-search-icon {
    padding-right: 8px;
  }
  .new-booking {
    font-size: 14px;
    margin-right: 25px;
  }
}

.booking-content {

  margin:30px;
  // min-height:530px;

  .booking-content-1 {
    border-bottom: 1px solid lightgrey;
    padding: 15px;
    width: 100%
  }
  .booking-content-2 {
    width: 100%;
    .booking-base-table {
      min-height: 450px;
      max-height: 450px;

    }
  }
}

// Main Booking Page css Ends
// Main New Booking Page css Starts
.new-booking-container {
  // margin-top: 30px;
  position: relative;
  margin: 30px;
  md-card {
    margin: 0px;
    margin-top: 20px;
    h3 {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  md-card-title {
    color: #fff;
    background-color: @app-primary-color-3;
  }
  .new-booking-container-card-content {
    margin-top: 15px
  }
  // Booking Form Css Starts
  .booking-form {
    width: 65%;
    .common-card-content {
      padding: 0px 20px;
    }
    // Customer Booking Time Details
    .booking-time-and-location {
      padding: 0px;
      margin-left: 0px;
      width: 100%;
      .booking-time {
        // width: 100%;
        .check-in {
          // padding: 0px;
          border-right: 2px solid @app-primary-color-5;
        }
        .check-out {
          // padding: 5px;
          border-right: 2px solid @app-primary-color-5;
        }
        .location {
          // padding: 0px;
        }
        h3 {
          padding: 5px;
        }
      }
    }
    // Customer Booking Details
    .customer-booking-details {
      margin: 20px 0px;
      .customer-booking-details-1 {
        margin-top: 20px;
        // md-autocomplete {
        //   margin: 0 50px;
        // }
        // md-autocomplete:last-item {
        //   margin-right: 30px;
        // }
      }
      .customer-booking-details-2 {
        padding: 0px 20px;
        width: 100%;
        .country-select {
          margin-bottom: 10px;
          width: 100%;
        }
      }
      md-autocomplete {
        // marging-right: 2px;
        width: 33%;
        md-input-container {
          margin-right: 30px;
        }
      }
      .first-name {
        margin-right: 28px;
      }
      .last-name {
        margin-right: 28px;
      }
      .email {
        margin-right: 18px;
      }
    }
    // Customer Accomodations Details
    .guest-accomodation {
      margin: 20px 0px;
      width: 100%;
      .booking-property-details-1 {
        //margin: 2.5px;
        // padding-right:20px;
        width: 100%;
      }
      .row-with-five {
        width: 23.7%;
        // margin-right: 10px
      }
      .icon-container-add {
        margin-left: 32px;
      }
      .icon-container-remove {
        // margin-left: 25px;
      }
      .add-icon {
        margin-bottom: 22px;
        color: @app-primary-color-3;
        cursor: pointer;
        font-size: 30px;
      }
      .remove-icon {
        margin-bottom: 22px;
        color: red;
        cursor: pointer;
        font-size: 30px;
      }
      .horizontal-line {
        margin-bottom: 10px;
        border-bottom: 1px solid grey;
      }
      .additional-items {
        // padding-top: 20px;
        // margin-bottom: -15px;
      }
      .grey-text {
        color: #858585;
      }
      .card-content-margin {
        margin-top: 15px;
      }
    }
    // .additional-items {
    //     padding-left: 20px;
    //     padding-bottom: 20px;
    //     width: 100%;
    //     .add-head-items {
    //         width: 100%;
    //         padding: 0px;
    //         .items {
    //             padding-right: 50px;
    //             width: 100%;
    //         }
    //     }
    // }
    // Property Add ons Details
    .add-ons {
      // grid list starts
        .grid-spaces-container {
              width: 50%;
          }
          .grid-spaces-row {
              // padding: 20px 0px;
              margin-bottom: 10px;
          }
          .grid-spaces-row:before {
              content: ' ';
              display: table;
          }
          .grid-spaces-row::after {
              content: ' ';
              display: table;
              clear: both;
          }
          .grid-spaces-col-3 {
              width: 25%;
              float: left;
              border-radius: 5px;

          }
          .grid-spaces-widget {
              // margin: 0px 10px;
              text-align: left;
          }
    }
    // Property Notes Container
    .notes-container {
      margin: 20px 0px;
      .notes-content {
        width: 100%;
      }
    }
    .payment-billing-container {
      width: 100%;
      margin: 0px;
      .payment-content {
        margin-left: 20px;
        .payment-content-1 {
          .payment-content-input {
            margin-right: 20px;
          }
          width: 100%;
        }
      }
    }
    .payment-mode {
      margin: 20px 0px;
      .payment-mode-content {
        width: 100%;
        .payment-mode-type-1 {
          width: 100%;
        }
        .payment-mode-type-2 {
          width: 100%
        }
        .reference-no {}
      }
      .cheque-select {
        padding-bottom: 15px;
        font-size: 16px;
      }
    }
  }
  // Booking Form Css Ends
  .booking-submit {
    width: 80%;
    margin-bottom: 10px;
    text-align: center;
    .booking-submit-button {
      width: 100%;
    }
  }
  
}
.table-body {
  td {
    text-align: center;  
  }
  th {
      padding : 10px;
      text-align: center;  
  }
  
}
.booking-submit-button {
    margin: 10px;
  }
// Main New Booking Page css Ends
