.main-calendar-dialog {
  overflow-y: scroll;
  width: 350px;
  min-height: 300px;
  &.small {
    width: 300px;
    min-height: 300px;
  }
  &.large {
    width: 300px;
    min-height: 300;
  }
  .main-dialog-header {
    padding: @app-padding-6;
    .main-dialog-title {}
  }
  .main-dialog-content {
    overflow-y: scroll;
    padding: @app-padding-3 @app-padding-6 @app-padding-6;
    .main-uploader .main-uploader-dropzone {
      min-height: 170px;
    }
    .content {
      margin-top: 10px;
    }
    .date-underline {
      border-bottom: 1px solid teal;
      padding-bottom: 10px;
    }
    .date-margin {
      margin-left: -11px;
    }
  }
  .main-dialog-footer {
    border-top: 1px @app-grey-6 solid;
    padding: @app-padding-5;
    .main-dialog-footer-actions {}
  }
}

// calendar view
.main-calendar-container {

  padding: @app-padding-6 0;

  .main-calendar-location {
    
    margin-right: 5px;
    
    .main-calendar-location-footer {
      text-align: center;
    }
  }

  md-card-header {
    border-bottom: 1px @app-grey-6 solid;
  }

  md-card-content {
    padding: 0;
  }

  .main-calendar-icon {
    font-weight: 600;
  }

  .main-calendar-no-location {
    color: @app-grey-4;
    font-size: 24px;
    margin-top: 30%;
  }
}

.main-calendar-ui-container {

  // padding: 0 25px;

  .main-calendar-ui .cal-month-day {
    // height: 30%;
  }
  
  .main-calendar-ui .cal-row-head {
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px 0;
    color: @app-grey-4;

    &:hover {
      background-color: inherit !important;
    }
    .cal-cell1:hover {
      background-color: inherit !important;
    }
  }

  .main-calendar-ui span[data-cal-date] {
    padding: 8px;
    font-size: 18px;
    display: block;
    margin: 0;
    color: @app-black-6; 
    opacity: 1.0;
  }

  .main-calendar-ui .cal-day-outmonth span[data-cal-date] {
    color: @app-grey-6;
    opacity: 0.7;
  }

  .main-calendar-ui .cal-month-box [class*=cal-cell],
  .main-calendar-ui .cal-year-box [class*=span] {
    // min-height: 30%;
    border-right: 1px solid @app-grey-6;
    position: relative;
  }
  .main-calendar-ui .cal-month-box .cal-day-today span[data-cal-date] {
    font-size: 18px;
    color: @app-primary-color-5;
  }
  .main-calendar-ui .cal-day-today {
    background-color: @app-grey-8;
  }
  .main-calendar-ui-rates {
    text-align: right;
    color: @app-black-5;
    font-weight: 700;
    padding-right: 8px;
    bottom: 8px;
    position: absolute;
    right: 0;
  }

}
