.customer-header {
    padding:10px 20px;
    // border:0;
    .customer-input-search-icon {
      padding-right: 15px;
    }
    .customer-search {
      border: 0px;
      // color:  @app-primary-color-6;
      font-size:16px;
    }
}
  
.md-warning {
  color:red;
  font-size:10px;
}
.md-datepicker-button {
    display:none !important; 
    
}
.bookingdate{
    right: 18px !important;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon>label:not(.md-no-float):not(.md-container-ignore) {
  width:100%;
  right:0;
}
.export {
  color:black;
  font-size:14px;
  font-weight: bold;
}
.booking_dialog {
  min-width: 550px; 
}
.customer_base_table {
  min-height: 450px;
}
.paginate-customer {
  border-top:none;
}

.main-content-user-table {
    min-height: 585px;
}
.md-button.md-fab.md-fab-bottom-right {
    top: auto;
   right: 45px;
    bottom: 55px;
    left: auto;
    position: absolute;
}
.dialog {
  width:430px;
  min-height: 300px;
  max-height: 300px;
  position: absolute;
}
.dialog-footer-close {
  // color: #4d4d4d;
  color:  #696969;
}