.main-dashboard {
  min-height: 500px;
  max-height: 500px;
  margin:20px;
  .dashboard-header {
    padding:10px 20px;
    border-bottom: 1px @app-primary-color-5  solid;
  }
  .dashboard-1 {
    
    margin-top:10px;
    margin-bottom:15px;
    min-height: 495px;
    
    .dashboard-select {
       margin: 0px;
    }
    
    .set-chart-div {
      padding:15px;
     }
    
    .set-revenue-bookings {
      margin:auto;
      .revenue {
        padding: 15px;
        font-size:18px;
      }
      .bookings {
        font-size:18px;
      }
     }
  }
  .dashboard-2 {
    
    margin-top:10px;
    margin-bottom:0px;
    min-height:250px;
    .booking-calendar {
      padding-bottom: 10px;
    }
  }
}