/*
 * Override for Material Css
*/

md-button,.md-button {
	font-family: cursive !important;
	margin: 0 !important;
}

md-body.md-body {
	position: relative !important;
    text-align: center !important;
}


md-table-container {
	min-height: 490px;
	max-height: 490px;
}

.md-button.md-fab.md-fab-bottom-right {
	right: 25px;
  bottom: 25px;
  position: absolute;
}

md-fab-toolbar .md-fab-toolbar-wrapper {
  display: none !important;
  position: relative;
  overflow: hidden;
  height: 0px;
}