// Main New Project css
.new-user-container {
    // margin-top: 30px;
    position: relative;
    margin: 10px;
    md-card {
        margin: 0px;
        margin-top: 20px;
        h3 {
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    md-card-title {
        color: #fff;
        background-color: @app-primary-color-3;
    }
    .new-user-container-card-content {
        margin-top: 15px
    } // Project Form Css Starts
    .user-form {
        width: 100%;
        .common-card-content {
            padding: 0px 20px;
        } // Project Time Details
        .user-time-complete {
            padding: 0px;
            margin-left: 0px;
            width: 100%;
            .user-time {
                // width: 100%;
                .start {
                    // padding: 0px;
                    border-right: 2px solid @app-primary-color-5;
                }
                .end {
                    // padding: 5px;
                    border-right: 2px solid @app-primary-color-5;
                }
                .location {
                    // padding: 0px;
                }
                h3 {
                    font-size: inherit;
                    padding: 5px;
                }
            }
        }
        .user-form-content {
            min-height: 370px;
        }
        .user-name {
            margin: 10px;
        }
        .user-details {
            margin: 40px 0px;
            .save-btn {
                float: right;
            }
        }
    }
}
