.property-container {
  // md-card md-card-content {
  //   padding: 0;
  // }
  md-checkbox .md-label {
    position: inherit;
  }
  div h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0;
    // background-color: @app-primary-color-3;
  }
  md-card {
    margin-top: 20px;
    h3 {
      text-transform: uppercase;
      font-weight: 600;
      // margin: 20px 0;
      // background-color: @app-primary-color-3;
    }
  }
  md-card-title {
    color: #fff;
    background-color: @app-primary-color-3;
  }
  margin-top: 30px;
  // .chkbox-container {
  //   border: 1px dashed grey;
  //   padding: 5px;
  // }
  .property-upload-btn {
    margin-top: 10px;
    margin-right: 5px;
  }
  .property-img-upload-icon {
    height: 60px;
  }
  .main-uploader .main-uploader-dropzone {
    background-color: #ededed;
    border: 4px #d1d1d1 dashed;
    color: #666;
    font-size: 18px;
    min-height: 300px;
  }
  .property-upload-btn {
    // position: absolute;
    // margin: 20px 0 0 840px;
  }
  .property-map-preview {
    // padding-left: 15px;
    border: 2px dashed grey;
    padding: -11px;
    margin-left: 30px;
    margin-right: 10px;
  }
  .main-uploader .main-uploader-thumbnail img {
    max-height: 300px;
    width: 100%;
  }
  .property-basic-info {
    margin-top: 10px;
  }
  .photos {
    .photos-container {
      // background-color: @app-grey-5;
      margin: 5px 5px 5px 0;
      md-grid-list {
        cursor: pointer;
        .photo {
          height: 100%;
          width: 100%;
        }
        .add-photo-container {
          background-color: @app-grey-6;
          .photo {
            height: 50px;
            width: 50px;
          }
        }
        md-grid-tile-footer {
          font-weight: bold;
        }
      }
    }
  }
  .photos-footer {
    padding-top: 15%;
    .md-remove-button {
      padding-right: 10%;
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px;
      width: 100%;
    }
  }
  .rooms {
    .rooms-container {
      // background-color: @app-grey-5;
      margin: 5px 5px 5px 0;
      md-grid-list {
        cursor: pointer;
        .photo {
          height: 100%;
          width: 100%;
        }
        .add-room-container {
          background-color: @app-grey-6;
          .add-room {
            font-size: 50px;
          }
        }
        md-grid-tile-footer {
          font-weight: bold;
        }
      }
    }
  }
  .bathrooms {
    .devider {
      border-bottom: 2px dashed grey;
      margin: 25px 0;
    }
  }
  // grid list starts
  .grid-spaces-container {
    width: 50%;
  }
  .grid-spaces-row {
    // padding: 20px 0px;
    margin-bottom: 10px;
  }
  .grid-spaces-row:before {
    content: ' ';
    display: table;
  }
  .grid-spaces-row::after {
    content: ' ';
    display: table;
    clear: both;
  }
  .grid-spaces-col-3 {
    width: 50%;
    float: left;
    border-radius: 5px;
  }
  .grid-spaces-widget {
    // margin: 0px 10px;
    text-align: left;
  }
  .common-space {
    margin-top: 20px;
  }
  .terms-conditions {
    margin-top: 20px;
    .icon-container {
      margin-bottom: 35px;
    }
  }
}

// main-dialog
.main-dialog-photo {
  overflow-y: scroll;
  width: 400px;
  min-height: 550px;
  &.small {
    width: 300px;
    min-height: 400px;
  }
  &.large {
    width: 600px;
    min-height: 800px;
  }
  .main-dialog-header {
    padding: @app-padding-6;
    .main-dialog-title {}
  }
  .main-dialog-content {
    overflow-y: scroll;
    padding: @app-padding-3 @app-padding-6 @app-padding-6;
    .main-uploader .main-uploader-dropzone {
      min-height: 170px;
    }
    .content {
      margin-top: 10px;
    }
  }
  .main-dialog-footer {
    border-top: 1px @app-grey-6 solid;
    padding: @app-padding-5;
    .main-dialog-footer-actions {}
  }
}

// Main Dialog Room
.main-dialog-room {
  overflow-y: scroll;
  width: 600px;
  min-height: 600px;
  &.small {
    width: 300px;
    min-height: 400px;
  }
  &.large {
    width: 600px;
    min-height: 800px;
  }
  .main-dialog-header {
    padding: @app-padding-6;
    .main-dialog-title {}
  }
  .main-dialog-content {
    overflow-y: scroll;
    padding: @app-padding-3 @app-padding-6 @app-padding-6;
    .main-uploader .main-uploader-dropzone {
      min-height: 170px;
    }
    .content {
      margin-top: 15px;
    }
    .beds {
      margin-top: 20px;
    }
  }
  .main-dialog-footer {
    border-top: 1px @app-grey-6 solid;
    padding: @app-padding-5;
    .main-dialog-footer-actions {}
  }
  .bed-container {
    margin-top: 15px;
    .remove-icon {
      cursor: pointer;
      font-size: 30px;
      color: red;
      margin-bottom: 19px;
    }
    .add-icon {
      cursor: pointer;
      font-size: 30px;
      color: @app-primary-color-3;
      margin-bottom: 19px;
    }
  }
}

.icon-container {
  // background-color: red;
  .remove-icon {
    cursor: pointer;
    font-size: 30px;
    color: red;
  }
  .add-icon {
    cursor: pointer;
    font-size: 30px;
    color: @app-primary-color-3;
  }
}

// save button
.md-divider {
  border-top: 1px solid @app-primary-color-3;
  margin: 25px 0;
}

.save-btn {
  margin: 0 0 0 10px;
}
