.main-content-settings-table {
    min-height: 585px;
    width:20%
}
.settings {
  min-height: 80vh;
}
.setting-sidenav {
  width:100%;
}
.settings-title {
  background-color: teal;
  color:white;
}
.setting-ui-div {
  width:100%;
}
.setting_amenitie_table {
  min-height: 500px;
  min-width: 100%;
}
.amenitie-1-table {
  width:100%;
  margin-top: 15px;
}
.new_amenitie {
  margin: 10px;
  form {
    margin: 30px 0;
  }
}
.main-amenitie-dialog-title {
  margin-top : 3vh
}