.role {
    padding-bottom: 20px;
}
.userForm {
    min-height: 400px;
}

.users-page {
    md-input-container {
        display: inline-block !important;
        position: relative !important;
        margin-right: 15px !important;
    }
    md-checkbox .md-label {
        box-sizing: border-box;
        position: fixed;
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
        margin-left: 30px;
        margin-right: 0;
    }
}
.sidenav-bar-color {
    background-color: #0e8bef;
}
.users-dropdown {
    margin-right:50px;
}
.users-dropdown-icon {
    margin-left:50px !important;
}
// grid list starts
  .grid-container {
        width: 100%;
    }
    .grid-row {
        padding: 20px 0px;
        margin-bottom: 10px;
    }
    .grid-row:before {
        content: ' ';
        display: table;
    }
    .grid-row::after {
        content: ' ';
        display: table;
        clear: both;
    }
    .grid-col-3 {
        width: 50%;
        min-height: 50px;
        float: left;
        border-radius: 5px;

    }
    .grid-widget {
        margin: 10px;
        text-align: left;
    }


// grid list ends
.dialog-footer {
    width:100%;
    border-top: 1px @app-primary-color-5 solid;
    padding: 10px;
    min-height: 50px;
    max-height: 50px;
}

.main-dialog .main-dialog-content {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: .5rem;
}

.main-user.dialog {
    min-width: 400px;
    min-height: 550px;
}

.user-role-permission {
    min-height: 150px;
}

.permission-names {
    font-size: 14px !important;
}
.main-content-user-table {
    padding: 15px;
    min-height: 520px;
}
.main-content {
    max-height: 550px;
}
