.main-content(layout='column')
	.main-content-project-table.card-1(flex='1')
		md-table-container
			table.table-body(md-table='', md-progress='ViewModel.loadPromise')
				thead(md-head='', md-order='ViewModel.query.order', md-on-reorder='ViewModel.load')
					tr(md-row='')
						th.table-body()
							span #
						th() Name
						th() Client
						th() Project Manager
						th() Project Leader
						th() Status
						th(permission permission-only='["dUsers","eUsers"]') Actions
				tbody(md-body='', style='text-align:center;')
					tr(md-row='', md-select='project', md-select-id='id', md-auto-select='', ng-repeat='project in ViewModel.projects')
						td() {{$index + 1}}
						td() {{project.name}}
						td() {{project.client}}
						td() {{project.manager[0].name}}
						td() {{project.teamLeader[0].name}}
						td() {{project.status}}
						td(permission permission-only='["dUsers","eUsers"]')
							md-menu(md-position-mode='target-right target')
								md-button.md-icon-button(aria-label='Actions', ng-click='$mdMenu.open($event)')
									md-icon(md-menu-origin)
										i.material-icons
											| more_vert
								md-menu-content
									md-menu-item()
										md-button(ng-click='ViewModel.EditProject(project.id)')
											|Edit
									md-menu-item()
										md-button(ng-click='ViewModel.DeleteProject(project.id)')
											| Delete
		md-fab-toolbar(md-open='ctrl.isOpen', md-direction='top', count='ctrl.count')
		md-fab-trigger.align-with-text
			md-button.md-fab.md-primary.md-fab-bottom-right(aria-label='New Project', ng-click='ViewModel.NewProject()')
				md-tooltip(md-direction='top') New Project
				md-icon.material-icons add
