.new-project-container(layout='column', layout-align='start center')
  form.project-form(name="NewProjectForm", flex='grow')
    md-card.project-time-complete
      md-card-title
        h3
          | Project Time and client
      md-card-content
        .project-time(layout='row', flex='100')
          .start(layout='column' flex='33')
            h3(layout='row' layout-align='center center' flex=100)
              |  Start Time
            p(layout='row' layout-align='center center' flex=100)
              md-datepicker(ng-model="ViewModel.project.start_date" , md-placeholder="Enter start date", md-min-date="checkInMinDate" ng-change='ViewModel.checkLocationBooked();')
          .end(layout='column' flex='33')
            h3(layout='row' layout-align='center center' flex=100)
              | End Time
            p(layout='row' layout-align='center center' flex=100)
              md-datepicker(ng-model="ViewModel.project.end_date", md-min-date="ViewModel.project.start_date", md-placeholder="Enter end date" )
          .location(layout='column' flex='50')
            h3(layout='row' layout-align='center center' flex=100)
              | Client
            p(layout='row' layout-align='center center')
              md-input-container(flex='60')
                md-select(name='client',placeholder='Select Client',required  ng-model="ViewModel.project.client")
                  md-option(ng-repeat='opt in ViewModel.clients' ng-value='opt.name') {{opt.name}}
    md-card.project-details
      md-card-title
        h3
          | Project Details
      md-card-content
        .project-content(layout='row', flex='100')
          .project-name(layout='column' flex='50')
              md-input-container
                label
                  | Project Name
                input(ng-model='ViewModel.project.name', required)

          .project-name(layout='column' flex='50')
              md-input-container
                label
                  | Project Amount
                input(ng-model='ViewModel.project.amount' ,required, placeholder='Enter Project Amount in (Numbers)')
          .project-name(layout='column' flex='50')
              md-input-container
                label
                  | Project status
                md-select(name='status',placeholder='Select status',required  ng-model="ViewModel.project.status")
                  md-option(value='ACTIVE') Active
                  md-option(value='INACTIVE') In-active
                  md-option(value='ONHOLD') On-hold
                  md-option(value='APPROVED') Approved
                  md-option(value='SUBMITTED') Submitted
        .project-content(layout='row', flex='100')
          .project-name(layout='column' flex='100')
            md-input-container
              label
                | Project Description(short)
              textarea(name='description' ng-model='ViewModel.project.description' rows= '3' placeholder='Describe in 300 characters  ' maxlength='300')
        .project-content(layout='row', flex='100')
          .project-name(layout='column' flex='50')
              md-input-container
                label
                  | Project Manager
                md-select(name='manager',placeholder='Select Manager',required  ng-model="ViewModel.project.manager")
                  md-option(ng-repeat='manager in ViewModel.Managers' value='{{manager.id}}') {{manager.name}}
          .project-name(layout='column' flex='50')
              md-input-container
                label
                  | Project Team Leader
                md-select(name='teamLeader',placeholder='Select Team Leader',required  ng-model="ViewModel.project.teamLeader")
                  md-option(ng-repeat='teamLeader in ViewModel.TeamLeaders' value='{{teamLeader.id}}') {{teamLeader.name}}
        .project-content.save-btn(layout='row', flex='100')
              md-button.md-raised.md-primary(ng-click="ViewModel.submitProject(ViewModel.project)" ng-disabled="!NewProjectForm.$valid")
                | Submit  