.main-content(layout='column')
	.main-content-project-table.card-1(flex='1')
		md-table-container
			table.table-body(md-table='', md-progress='ViewModel.loadPromise')
				thead(md-head='', md-order='ViewModel.query.order', md-on-reorder='ViewModel.load')
					tr(md-row='')
						th.table-body()
							span #
						th() Name
						th() Assigned By
						th() Assigned To
						th() Project Name
						th() Due Date
						th() Status
						th() Actions
				tbody(md-body='', style='text-align:center;')
					tr(md-row='', md-select='task', md-select-id='id', md-auto-select='', ng-repeat='task in ViewModel.tasks')
						td() {{$index + 1}}
						td() {{task.name}}
						td() {{task.assignedBy[0].name}}
						td() {{task.assignedTo[0].name}}
						td() {{task.project[0].name}}
						td() {{task.end_date}}
						td() {{task.status}}
						td()
							md-menu(md-position-mode='target-right target')
								md-button.md-icon-button(aria-label='Actions', ng-click='$mdMenu.open($event)')
									md-icon(md-menu-origin)
										i.material-icons
											| more_vert
								md-menu-content
									md-menu-item()
										md-button(ng-click='ViewModel.EditTask(project.id)')
											|Edit
									md-menu-item()
										md-button(ng-click='ViewModel.DeleteTask(task.id)')
											| Delete
		md-fab-toolbar(md-open='ctrl.isOpen', md-direction='top', count='ctrl.count')
		md-fab-trigger.align-with-text
			md-button.md-fab.md-primary.md-fab-bottom-right(aria-label='New Project', ng-click='ViewModel.NewTask()')
				md-tooltip(md-direction='top') New Task
				md-icon.material-icons add
