.new-project-container(layout='column', layout-align='start center')
  form.project-form(name="NewTaskForm", flex='grow')
    md-card.project-time-complete
      md-card-title
        h3
          | Task Time and Project
      md-card-content
        .project-time(layout='row', flex='100')
          .start(layout='column' flex='33')
            h3(layout='row' layout-align='center center' flex=100)
              |  Start Time
            p(layout='row' layout-align='center center' flex=100)
              md-datepicker(ng-model="ViewModel.task.start_date" , md-placeholder="Enter start date", md-min-date="ViewModel.checkInMinDate")
          .end(layout='column' flex='33')
            h3(layout='row' layout-align='center center' flex=100)
              | End Time
            p(layout='row' layout-align='center center' flex=100)
              md-datepicker(ng-model="ViewModel.task.end_date", md-min-date="ViewModel.task.start_date", md-placeholder="Enter end date" )
          .location(layout='column' flex='50')
            h3(layout='row' layout-align='center center' flex=100)
              | Project
            p(layout='row' layout-align='center center')
              md-input-container(flex='60')
                md-select(name='Project',placeholder='Select Project',required  ng-model="ViewModel.task.project" ng-change='ViewModel.ProjectSelected(ViewModel.task.project)')
                  md-option(ng-repeat='opt in ViewModel.projects' ng-value='opt.id') {{opt.name}}
    md-card.project-details
      md-card-title
        h3
          | Task Details
      md-card-content
        .project-content(layout='row', flex='100')
          .project-name(layout='column' flex='50')
              md-input-container
                label
                  | Task Name
                input(ng-model='ViewModel.task.name', required)
          .project-name(layout='column' flex='50')
              md-input-container
                label
                  | Task status
                md-select(name='status',placeholder='Select status',required  ng-model="ViewModel.task.status")
                  md-option(value='OPEN') Open
                  md-option(value='CLOSED') Close
                  md-option(value='APPROVED') Approved
        .project-content(layout='row', flex='100')
          .project-name(layout='column' flex='100')
            md-input-container
              label
                | Task Description(short)
              textarea(name='description' ng-model='ViewModel.task.description' rows= '3' placeholder='Describe in 300 characters  ' maxlength='300')
        .project-content(layout='row', flex='100')
          .project-name(layout='column' flex='33')
              md-input-container
                label
                  | Project Manager
                input(ng-model='ViewModel.task.manager', ng-disabled='true')
          .project-name(layout='column' flex='33')
              md-input-container
                label
                  | Project Team Leader
                input(ng-model='ViewModel.task.teamLeader', ng-disabled='true')
            .project-name(layout='column' flex='33')
              md-input-container
                label
                  | Project Team Leader
                md-select(name='teamMembers',placeholder='Select status',required  ng-model="ViewModel.task.assignedTo")
                  md-option(value='{{teamMember.id}}' ng-repeat='teamMember in ViewModel.teamMembers') {{teamMember.name}}
        .project-content.save-btn(layout='row', flex='100')
              md-button.md-raised.md-primary(ng-click="ViewModel.submitTask(ViewModel.task)" ng-disabled="!NewTaskForm.$valid")
                | Submit  