.main-dashboard(layout='column')
  .dashboard-1.card-1
    .dashboard-header(layout='row', layout-align='space-between center', flex='none')
      div(layout='row', layout-align='center center' class='select-team-leader')
        md-button.md-primary() 
          md-select.md-no-underline.dashboard-select(ng-model='tLeader', aria-label='graph-search-list', ng-change='ViewModel.SelectedTeamLeader(tLeader)')
            md-option(value='-1', ng-selected='true') ---Select---
            md-option(value='{{leader.id}}' ng-repeat='leader in ViewModel.teamleaders') {{leader.name}}
    .main-content-user-table(flex='1')
        md-table-container
          table.table-body(md-table='', md-progress='ViewModel.loadPromise')
            thead(md-head='', md-order='ViewModel.query.order', md-on-reorder='ViewModel.load')
              tr(md-row='')
                th.table-body()
                  span #
                th() Name
                th() Email
                th() Role
                th() Mobile
            tbody(md-body='', style='text-align:center;')
              tr(md-row='', md-select='user', md-select-id='id', md-auto-select='', ng-repeat='user in ViewModel.users', ng-disabled ='user._is_deactivated == true')
                td() {{$index +1}} 
                td() {{user.name}}
                td() {{user.email}}
                td() {{user.role}}
                td() {{user.mobile}}