.main-content(layout='column', permission permission-only='["rUsers"]')
	.main-content-user-table.card-1(flex='1')
		md-table-container
			table.table-body(md-table='', md-progress='ViewModel.loadPromise')
				thead(md-head='', md-order='ViewModel.query.order', md-on-reorder='ViewModel.load')
					tr(md-row='')
						th.table-body()
							span #
						th() Name
						th() Email
						th() Role
						th() Mobile
						th(permission permission-only='["dUsers","eUsers"]') Actions
				tbody(md-body='' style='text-align:center')
					tr(md-row='', md-select='user', md-select-id='id', md-auto-select='', ng-repeat='user in ViewModel.users', ng-disabled ='user._is_deactivated == true')
						td() {{$index + 1}}
						td() {{user.name}}
						td() {{user.email}}
						td() {{user.role}}
						td() {{user.mobile}}
						td(permission permission-only='["dUsers","eUsers"]')
							md-menu(md-position-mode='target-right target')
								md-button.md-icon-button(aria-label='Actions', ng-click='$mdMenu.open($event)')
									md-icon(md-menu-origin)
										i.material-icons
											| more_vert
								md-menu-content
									md-menu-item(permission permission-only='["eUsers"]')
										md-button(ng-click='ViewModel.EditUser(user.id)')
											|Edit
									md-menu-item(permission permission-only='["dUsers"]')
										md-button(ng-click='ViewModel.DeleteUser(user.id)')
											| Delete
		md-fab-toolbar(md-open='ctrl.isOpen', md-direction='top', count='ctrl.count')
		md-fab-trigger.align-with-text
				md-button.md-fab.md-primary.md-fab-bottom-right(aria-label='New User', ng-click='ViewModel.NewUser()', permission permission-only='["cUsers"]')
					md-tooltip(md-direction='top') New User
					md-icon.material-icons add