.new-user-container(layout='column', layout-align='start center')
	form.user-form(name="userForm", flex='grow')
		md-card.user-details
			md-card-title
				h3
					| User Details
			md-card-content
				.user-form-content
					.user-content(layout='row', flex='100')
						.user-name(layout='column' flex='50')
								md-input-container
									label
										| Name
									input.form-control(type='text', name='name', ng-model='user.name', ng-pattern='/^[a-zA-Z ]*$/', required)
									.md-warning(ng-show='userForm.name.$touched')
										span.error(ng-show='userForm.name.$error.required') name is required.
										span.error(ng-show='userForm.name.$error.pattern') name can only be alphabets.
						.user-name(layout='column' flex='50')
								md-input-container
									label
										| Email
									input.form-control(type='email', name='email', ng-model='user.email', required)
									.md-warning(ng-show='userForm.$submitted || userForm.email.$touched')
										span.error(ng-show='userForm.email.$error.email') Please enter email in proper format.
										span.error(ng-show='userForm.email.$error.required') Email is required.
						.user-name(layout='column' flex='50')
								md-input-container
									label
										| Mobile
									input.form-control(type='text', name='mobile', ng-model='user.mobile', ng-pattern="/^[0-9]{10}$/",required)
									.md-warning(ng-show='userForm.$submitted || userForm.mobile.$touched')
										span.error(ng-show='userForm.mobile.$error.pattern') Mobile number can be of 10 digits only.
					.user-content(layout='row', flex='100')
						.user-name(layout='column' flex='50')
								md-input-container
									label
										| Department
									md-select(name='status',placeholder='Select Department',required  ng-model="user.department")
										md-option(value='HR') Hr
										md-option(value='WEB') Web
										md-option(value='ANDROID-MOBILE') Android Mobile
										md-option(value='IOS-MOBILE') IOS Mobile
						.user-name(layout='column' flex='50')
								md-input-container
									label
										| Department
									md-select.setting-sidenav.form-control(ng-change='ViewModel.RolePermission(user.role)' name='role',placeholder='Select Role', ng-model='user.role', required)
										md-option(value='SuperAdmin' ng-show='ViewModel.ShowAdminOption==true') Super Admin
										md-option(value='Admin' ng-show='ViewModel.ShowAdminOption==true') Admin
										md-option(value='ProjectManager') Project Manager
										md-option(value='TeamLeader') Team Leader
										md-option(value='User') User
					.user-content(layout='row', flex='100')
						div(flex='33', layout-align='start start', ng-show="ViewModel.roleSelected == true")
							h5 Dashboard Permission
							.grid-row.connector()
								.grid-col-3(ng-repeat='permission in ViewModel.permission.dashboard')
									.grid-widget
										md-checkbox(aria-label='dashboard', id="{{$index +1}}" value="{{permission.code}}", ng-checked="selectionPermission.indexOf(permission.code) > -1",ng-click="permissionSelection(permission.code)" ng-disabled ='ViewModel.rolesAdmin == true')
											{{permission.name}}
						div(flex='33', layout-align='start start', ng-show="ViewModel.roleSelected == true")
							h5 Users Permission
							.grid-row.connector()
								.grid-col-3(ng-repeat='permission in ViewModel.permission.User')
									.grid-widget
										md-checkbox(aria-label='User', id="{{$index +1}}" value="{{permission.code}}", ng-checked="selectionPermission.indexOf(permission.code) > -1",ng-click="permissionSelection(permission.code)" ng-disabled ='ViewModel.rolesAdmin == true')
											{{permission.name}}
				.user-content.save-btn(layout='row', flex='100')
							md-button.dialog-footer-close(ng-disabled="userForm.$invalid", type='button', ng-click='ViewModel.createUser(user)')
								| Submit 