.users-page(layout='column',  layout-align='center center')
  md-dialog.main-dialog.booking_dialog(layout='column')
    .main-dialog-header(layout='row',layout-align='start center')
      h2.main-dialog-title
        | View Locations
    .main-dialog-content(flex='grow', layout='column')
      form(ng-cloak='', layout='column')
        md-table-container(layout-align ='start stretch')
      table(md-table='', multiple='',md-progress='ViewModel.loadPromise')
        thead(md-head='', md-order='ViewModel.query.order', md-on-reorder='ViewModel.load')
          tr(md-row='')
            th(md-column='')
              span #
            th(md-column='') Location Name
            th(md-column='') Date
        tbody(md-body='')
          tr(md-row='', md-select='customer', md-select-id='id', ng-repeat='location in ViewModel. UserLocations | orderBy: "name"')
            td(md-cell='') {{$index+1}}
            td(md-cell='') 
              md-button.md-primary()
                {{location.name}}
            td(md-cell='') {{location.createdAt}}
    .main-dialog-footer(layout='row', layout-align='center center')
      .main-dialog-footer-actions
        md-button.dialog-footer-close(ng-click='ViewModel.closeDialog()')
          | Close
  